<% @title = 'Add Gift' %>

<form method='post' action='/add_gift' class="form-horizontal">
  <%= Rack::Csrf.tag(env) %>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="gift">Gift</label>
      <div class="controls">
        <input type="text" name="gift" id="gift" size="60" /><br />
      </div>
    </div>
  </fieldset>

  <div class="row">
    <% [:senders, :receivers].each do |sr|
    x = @event.send(sr)
    unless x.empty? %>
      <div class="span2 giftpeople">
        <%= sr.to_s.capitalize %>:<br />
        <% x.each do |p| %>
          <input type="checkbox" id="<%= sr %>_<%= p.id %>" name="<%= sr %>[<%= p.id %>]" value="<%= p.id %>" /> <label for="<%= sr %>_<%= p.id %>"><%= p.name %></label><br />
        <% end %>
      </div>
    <% end end %>
    <div class="span8">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="new_senders">New Senders</label>
          <div class="controls">
            <input type="text" name="new_senders" id="new_senders" /><br />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="new_receviers">New Receivers</label>
          <div class="controls">
            <input type="text" name="new_receivers" id="new_receivers" /><br />
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" class="btn-large" value="Add Gift"/>
        </div>
      </fieldset>

      <% unless @recent_gifts.empty? %>
        <table id="recent_gifts" class="table table-condensed">
        <caption>Recent Gifts</caption>
        <thead><tr><th>Gift</th><th>Senders</th><th>Receivers</th></tr></thead>
        <tbody>
          <% @recent_gifts.each do |g| %>
          <tr>
            <td><a href="/Gift/edit/<%= g.id %>"><%=h g.name %></a></td>
            <td><a href="/Gift/mtm_edit/<%= g.id %>?association=senders"><%=h g.senders.map{|s| s.name}.sort.join(', ')%></a></td>
            <td><a href="/Gift/mtm_edit/<%= g.id %>?association=receivers"><%=h g.receivers.map{|s| s.name}.sort.join(', ')%></a></td>
          </tr>
          <% end %>
        </tbody></table>
      <% end %>
    </div>
  </div>
</form>

