<% @title = 'Add Gift' %>

<form method='post' action='/add_gift/<%= @event.id %>' class="form-horizontal">
  <%= Rack::Csrf.tag(env) %>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="gift">Gift</label>
      <div class="controls">
        <input type="text" name="gift" id="gift" size="60" /><br />
      </div>
    </div>
  </fieldset>

  <div class="row">
    <% [:senders, :receivers].each do |sr|
    x = @event.send(sr)
    unless x.empty? %>
      <div class="span2 giftpeople">
        <%= sr.to_s.capitalize %>:<br />
        <% x.each do |p| %>
          <input type="checkbox" id="<%= sr %>_<%= p.id %>" name="<%= sr %>[<%= p.id %>]" value="<%= p.id %>" /> <label for="<%= sr %>_<%= p.id %>"><%= p.name %></label><br />
        <% end %>
      </div>
    <% end end %>
    <div class="span8">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="new_senders">New Senders</label>
          <div class="controls">
            <input type="text" name="new_senders" id="new_senders" /><br />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="new_receviers">New Receivers</label>
          <div class="controls">
            <input type="text" name="new_receivers" id="new_receivers" /><br />
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" class="btn-large" value="Add Gift"/>
        </div>
      </fieldset>

      <% unless @recent_gifts.empty? %>
        <%= Thamble.table(@recent_gifts, :table=>{:class=>"table table-condensed", :id=>"recent_gifts"}, :headers=>'Gift,Senders,Receivers', :caption=>'Recent Gifts') do |g, t|
          [t.a(g.name, "/Gift/edit/#{g.id}"), t.a(g.senders.map{|s| s.name}.sort.join(', '), "/Gift/mtm_edit/#{g.id}?association=senders"),  t.a(g.receivers.map{|s| s.name}.sort.join(', '), "/Gift/mtm_edit/#{g.id}?association=receivers")]
        end %>
      <% end %>
    </div>
  </div>
</form>

