<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Giftsmas<%= " - #{@title || @autoforme_action.title}" if @title || @autoforme_action %></title>
<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/application.css" />
</head>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">Giftsmas<%=h ": #{@event.name}" if @event %></a>

      <ul class="nav">
        <% if @event %>
          <li><a href="/Event/mtm_edit/<%= @event.id %>?association=receivers">Associate Receivers</a></li>
          <li><a href="/Event/mtm_edit/<%= @event.id %>?association=senders">Associate Senders</a></li>
          <li><a href="/reports">Reports</a></li>

          <li class="divider-vertical"></li>
          <li><a href="/choose_event">Change Event</a></li>
          <li><a href="/manage">Manage</a></li>
        <% end %>
      </ul>
      <% if @user %>
        <form action="/logout" class="button_to" method="post">
          <%= Rack::Csrf.tag(env) %>
          <input class="btn btn-warning pull-right" type="submit" value="Logout" />
        </form>
      <% end %>
    </div>
  </div>
</div>

<div class="container" id="content">
<%= "<h1>#{@title}</h1>" if @title %>
  <% if flash[:notice] %>
    <div class="alert alert-success"><p><%= flash[:notice] %></p></div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-error"><p><%= flash[:error] %></p></div>
  <% end %>
<%= yield %>
</div>

</body></html>
