<% @title = 'Gifts by Sender' %>

<% @senders.each do |s, gifts| %>
  <table class="persongifts">
  <caption><%=h s%></caption>
  <thead><tr><th>Time</th><th>Gift</th><th>Receivers</th><th>Other Senders</th></tr></thead>
  <tbody>
  <% gifts.each do |g| %>
    <tr><td><%= g.inserted_at.strftime('%I:%M:%S%P') %></td>
    <td><%=h g.name %></td>
    <td><%= g.receivers.map{|x| h x.name}.join(', ') %></td>
    <td><%= (g.senders.map{|x| h x.name} - [h s]).join(', ') %></td></tr>
  <% end %>
  </tbody></table>
<% end %>
