<% @title = 'Reports' %>
<ul>
  <li><a href="/compare">Comparative</a></li>
  <li><a href="/event/<%= @event.id %>/reports/chronological">In Chronological Order</a></li>
  <li><a href="/event/<%= @event.id %>/reports/by_receiver">By Receiver</a></li>
  <li><a href="/event/<%= @event.id %>/reports/by_sender">By Sender</a></li>
  <li><a href="/event/<%= @event.id %>/reports/summary">Summary</a></li>
  <li><a href="/event/<%= @event.id %>/reports/crosstab">Summary Crosstab</a></li>
  <li><a href="/event/<%= @event.id %>/reports/thank_yous">Thank You Notes</a></li>
</ul>

