<% @title = 'Reports' %>
<ul>
  <li><a href="/reports/chronological/<%= @event.id %>">In Chronological Order</a></li>
  <li><a href="/reports/by_receiver/<%= @event.id %>">By Receiver</a></li>
  <li><a href="/reports/by_sender/<%= @event.id %>">By Sender</a></li>
  <li><a href="/reports/summary/<%= @event.id %>">Summary</a></li>
  <li><a href="/reports/crosstab/<%= @event.id %>">Summary Crosstab</a></li>
  <li><a href="/reports/thank_yous/<%= @event.id %>">Thank You Notes</a></li>
</ul>
